* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}
main {
  height: 100%;
  width: 100%;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .card {
    width: 600px;
    border-radius: 10px;
    background-color: white;
    padding: 50px 40px;
    h2 span {
      color: royalblue;
    }
    h2 {
      font-size: 18px;
    }
    .outer {
      height: 30px;
      width: 100%;
      background-color: rgb(206, 204, 204);
      border-radius: 50px;
      margin: 20px 0px;
      .inner {
        height: inherit;
        width: 0%;
        background-color: green;
        border-radius: inherit;
      }
    }
    .lower {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 40px;
      }
      button {
        background: green;
        padding: 13px 30px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        border-radius: 4px;
        border: none;
      }
      button:active {
        scale: 0.96;
      }
    }
  }
}
