* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: white;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  #keyboard {
    span {
      padding: 10px 20px;
      border: solid white;
      font-size: 50px;
    }
  }
}
