* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
html,
body {
  width: 100%;
  height: 100%;
}
body{
  background-color: black;
  height: 200vh;
  cursor: none;
}

main{
  img{
    height: 100px;
    position: fixed;
    transform: translate(-50%, -50%);
  }
}